n8n/agency-lead-intake-workflow.json
{
  "name": "Universal Lead Intake -> Supabase + Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agency-lead-intake",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-node",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 260],
      "webhookId": "agency-lead-intake"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? $json;\nconst now = new Date();\nconst leadName = body.name ?? body.lead_name ?? 'Unknown Lead';\nconst businessName = body.business_name ?? body.company ?? body.account_name ?? 'Unknown Business';\nconst leadService = body.service ?? body.lead_service ?? body.service_requested ?? 'General enquiry';\nconst leadEmail = body.email ?? body.lead_email ?? null;\nconst leadPhone = body.phone ?? body.lead_phone ?? null;\nconst urgency = body.urgency ?? 'normal';\nconst sourceChannel = body.source_channel ?? body.lead_source ?? 'website-form';\nconst message = body.message ?? body.lead_message ?? body.notes ?? '';\nconst assignedTo = body.assigned_to ?? 'ops';\nconst alertDestination = body.alert_destination ?? '@sxwrpv1';\nconst niche = body.niche ?? 'Home Services';\nreturn { json: {\n  received_at: now.toISOString(),\n  run_id: `run_${Date.now()}`,\n  lead_name: leadName,\n  business_name: businessName,\n  lead_email: leadEmail,\n  lead_phone: leadPhone,\n  lead_service: leadService,\n  service_requested: leadService,\n  urgency,\n  source_channel: sourceChannel,\n  message,\n  assigned_to: assignedTo,\n  alert_destination: alertDestination,\n  niche\n} };"
      },
      "id": "normalize-node",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fbstesgbttojfysznddq.supabase.co/rest/v1/lead_submissions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Authorization", "value": "Bearer sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "business_name", "value": "={{$json.business_name}}" },
            { "name": "lead_name", "value": "={{$json.lead_name}}" },
            { "name": "lead_email", "value": "={{$json.lead_email}}" },
            { "name": "lead_phone", "value": "={{$json.lead_phone}}" },
            { "name": "service_requested", "value": "={{$json.service_requested}}" },
            { "name": "urgency", "value": "={{$json.urgency}}" },
            { "name": "message", "value": "={{$json.message}}" },
            { "name": "source_channel", "value": "={{$json.source_channel}}" },
            { "name": "submission_status", "value": "new" },
            { "name": "n8n_run_id", "value": "={{$json.run_id}}" },
            { "name": "raw_payload", "value": "={{$json}}" }
          ]
        }
      },
      "id": "insert-lead-node",
      "name": "Insert Lead Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [780, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fbstesgbttojfysznddq.supabase.co/rest/v1/customers?on_conflict=email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Authorization", "value": "Bearer sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{$json.lead_name}}" },
            { "name": "company", "value": "={{$json.business_name}}" },
            { "name": "email", "value": "={{$json.lead_email || ('missing-' + Date.now() + '@placeholder.local')}}" },
            { "name": "phone", "value": "={{$json.lead_phone}}" },
            { "name": "record_type", "value": "lead" },
            { "name": "niche", "value": "={{$json.niche || 'Home Services'}}" },
            { "name": "source_channel", "value": "={{$json.source_channel}}" },
            { "name": "onboarding_status", "value": "not-started" },
            { "name": "preferred_alert_channel", "value": "telegram" },
            { "name": "alert_destination", "value": "={{$json.alert_destination}}" },
            { "name": "next_action", "value": "Review new inbound lead and qualify." }
          ]
        }
      },
      "id": "upsert-customer-node",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fbstesgbttojfysznddq.supabase.co/rest/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Authorization", "value": "Bearer sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "={{$node['Upsert Customer'].json[0]?.id || $node['Upsert Customer'].json.id}}" },
            { "name": "title", "value": "={{'Follow up: ' + $node['Normalize Lead Data'].json.business_name}}" },
            { "name": "description", "value": "={{('New inbound lead for ' + $node['Normalize Lead Data'].json.service_requested + '. ' + ($node['Normalize Lead Data'].json.message || '')).trim()}}" },
            { "name": "status", "value": "pending" },
            { "name": "task_type", "value": "follow-up" },
            { "name": "priority", "value": "={{$node['Normalize Lead Data'].json.urgency === 'emergency' ? 'urgent' : ($node['Normalize Lead Data'].json.urgency === 'high' ? 'high' : 'medium')}}" },
            { "name": "assigned_to", "value": "={{$node['Normalize Lead Data'].json.assigned_to}}" }
          ]
        }
      },
      "id": "create-task-node",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1300, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fbstesgbttojfysznddq.supabase.co/rest/v1/automation_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Authorization", "value": "Bearer sb_publishable_4cSGroJ_acAu_YhAvocx8w_Gg-USqAe" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "={{$node['Upsert Customer'].json[0]?.id || $node['Upsert Customer'].json.id}}" },
            { "name": "lead_submission_id", "value": "={{$node['Insert Lead Submission'].json[0]?.id || $node['Insert Lead Submission'].json.id}}" },
            { "name": "workflow_name", "value": "Universal Lead Intake" },
            { "name": "workflow_run_id", "value": "={{$node['Normalize Lead Data'].json.run_id}}" },
            { "name": "run_status", "value": "success" },
            { "name": "summary", "value": "={{'Lead captured for ' + $node['Normalize Lead Data'].json.business_name}}" },
            { "name": "payload", "value": "={{ { lead_name: $node['Normalize Lead Data'].json.lead_name, lead_email: $node['Normalize Lead Data'].json.lead_email, service_requested: $node['Normalize Lead Data'].json.service_requested, source_channel: $node['Normalize Lead Data'].json.source_channel } }}" }
          ]
        }
      },
      "id": "log-automation-node",
      "name": "Log Automation Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/send",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "target", "value": "={{$node['Normalize Lead Data'].json.alert_destination}}" },
            { "name": "message", "value": "={{'New inbound lead\\n\\nBusiness: ' + $node['Normalize Lead Data'].json.business_name + '\\nLead: ' + $node['Normalize Lead Data'].json.lead_name + '\\nEmail: ' + ($node['Normalize Lead Data'].json.lead_email || '—') + '\\nPhone: ' + ($node['Normalize Lead Data'].json.lead_phone || '—') + '\\nService: ' + $node['Normalize Lead Data'].json.service_requested + '\\nUrgency: ' + $node['Normalize Lead Data'].json.urgency + '\\nSource: ' + $node['Normalize Lead Data'].json.source_channel + '\\nAssigned: ' + $node['Normalize Lead Data'].json.assigned_to + '\\nMessage: ' + ($node['Normalize Lead Data'].json.message || '—') + '\\nRun ID: ' + $node['Normalize Lead Data'].json.run_id}}" }
          ]
        }
      },
      "id": "telegram-node",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1820, 260]
    }
  ],
  "connections": {
    "Lead Intake Webhook": { "main": [[{ "node": "Normalize Lead Data", "type": "main", "index": 0 }]] },
    "Normalize Lead Data": { "main": [[{ "node": "Insert Lead Submission", "type": "main", "index": 0 }]] },
    "Insert Lead Submission": { "main": [[{ "node": "Upsert Customer", "type": "main", "index": 0 }]] },
    "Upsert Customer": { "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]] },
    "Create Follow-up Task": { "main": [[{ "node": "Log Automation Run", "type": "main", "index": 0 }]] },
    "Log Automation Run": { "main": [[{ "node": "Send Telegram Alert", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "agency-lead-intake-v4",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "agency-lead-intake-workflow",
  "active": true
}
