n8n/g7crm-master-automation.workflow.json
[{"updatedAt":"2026-07-17T11:11:49.032Z","createdAt":"2026-07-17T11:11:49.032Z","id":"g7crm-master-automation","name":"G7CRM Master Automation \u2014 All Channels","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agency-lead-intake","responseMode":"onReceived","options":{"responseCode":200}},"id":"booking-webhook-node","name":"Lead Intake Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[260,720],"webhookId":"agency-lead-intake"},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const body = $json.body ?? $json;\nconst now = new Date();\nconst leadName = body.name ?? body.lead_name ?? 'Unknown Lead';\nconst businessName = body.business_name ?? body.company ?? body.account_name ?? 'Unknown Business';\nconst leadEmail = body.email ?? body.lead_email ?? null;\nconst leadPhone = body.phone ?? body.lead_phone ?? null;\nconst serviceRequested = body.service ?? body.service_requested ?? 'General enquiry';\nconst message = body.message ?? body.lead_message ?? body.notes ?? '';\nconst sourceChannel = body.source_channel ?? body.lead_source ?? 'website-form';\nconst rawUrgency = String(body.urgency ?? 'normal').toLowerCase();\nconst urgency = ['low','normal','high','emergency'].includes(rawUrgency) ? rawUrgency : 'normal';\nconst assignedTo = body.assigned_to ?? 'ops';\nconst alertDestination = $vars.g7TelegramTarget ?? 'CONFIGURE_IN_N8N';\nconst niche = body.niche ?? 'Home Services';\nconst requestedDate = body.booking_date ?? body.requested_date ?? body.date ?? null;\nconst requestedTime = body.booking_time ?? body.requested_time ?? body.time ?? null;\nconst bookingDurationMinutes = Number(body.booking_duration_minutes ?? body.duration_minutes ?? 60);\nconst bookingCalendar = body.booking_calendar ?? body.calendar_name ?? 'Work';\nconst requestType = String(body.inquiry_type ?? body.request_type ?? body.intent ?? '').toLowerCase();\nconst callNow = body.call_now === true || String(body.call_now ?? '').toLowerCase() === 'true';\nconst isBooking = requestType.includes('booking') || (!!requestedDate && !!requestedTime);\nconst isUrgentCall = requestType.includes('urgent') || requestType.includes('call') || callNow || ['urgent', 'emergency'].includes(urgency);\nlet inquiryType = 'standard';\nif (isBooking) inquiryType = 'booking';\nelse if (isUrgentCall) inquiryType = 'urgent-call';\nconst bookingDetailsComplete = !!requestedDate && !!requestedTime;\nconst bookingStatus = inquiryType === 'booking' ? 'requested' : 'not-applicable';\nreturn { json: {\n  received_at: now.toISOString(),\n  processed_at: now.toISOString(),\n  run_id: `run_${Date.now()}`,\n  lead_name: leadName,\n  business_name: businessName,\n  lead_email: leadEmail,\n  lead_phone: leadPhone,\n  service_requested: serviceRequested,\n  message,\n  source_channel: sourceChannel,\n  urgency,\n  assigned_to: assignedTo,\n  alert_destination: alertDestination,\n  niche,\n  inquiry_type: inquiryType,\n  requested_booking_date: requestedDate,\n  requested_booking_time: requestedTime,\n  booking_status: bookingStatus,\n  booking_calendar: bookingCalendar,\n  booking_duration_minutes: Number.isFinite(bookingDurationMinutes) ? bookingDurationMinutes : 60,\n  booking_details_complete: bookingDetailsComplete\n} };"},"id":"normalize-route-node","name":"Normalize + Route Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,720]},{"parameters":{"method":"POST","url":"https://fbstesgbttojfysznddq.supabase.co/rest/v1/lead_submissions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$vars.supabaseAnonKey}}"},{"name":"Authorization","value":"={{'Bearer ' + $vars.supabaseAnonKey}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"business_name","value":"={{$json.business_name}}"},{"name":"lead_name","value":"={{$json.lead_name}}"},{"name":"lead_email","value":"={{$json.lead_email}}"},{"name":"lead_phone","value":"={{$json.lead_phone}}"},{"name":"service_requested","value":"={{$json.service_requested}}"},{"name":"urgency","value":"={{$json.urgency}}"},{"name":"message","value":"={{$json.message}}"},{"name":"source_channel","value":"={{$json.source_channel}}"},{"name":"submission_status","value":"new"},{"name":"inquiry_type","value":"={{$json.inquiry_type}}"},{"name":"requested_booking_date","value":"={{$json.requested_booking_date}}"},{"name":"requested_booking_time","value":"={{$json.requested_booking_time}}"},{"name":"booking_status","value":"={{$json.booking_status}}"},{"name":"n8n_run_id","value":"={{$json.run_id}}"},{"name":"raw_payload","value":"={{$json}}"}]}},"id":"insert-submission-node","name":"Insert Lead Submission","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[780,720]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8765/send","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"target","value":"={{$node['Normalize + Route Lead'].json.alert_destination}}"},{"name":"message","value":"={{'New inbound lead\\n\\nBusiness: ' + $node['Normalize + Route Lead'].json.business_name + '\\nLead: ' + $node['Normalize + Route Lead'].json.lead_name + '\\nService: ' + $node['Normalize + Route Lead'].json.service_requested + '\\nUrgency: ' + $node['Normalize + Route Lead'].json.urgency + '\\nRun ID: ' + $node['Normalize + Route Lead'].json.run_id}}"}]}},"id":"telegram-node","name":"Send Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2340,720]},{"parameters":{"httpMethod":"POST","path":"whatsapp-lead-intake","responseMode":"responseNode","options":{}},"id":"d16ace2d-4bad-4a8e-8348-f7b74357052c","name":"Twilio WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,-420],"webhookId":"whatsapp-lead-intake"},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const body = $json.body ?? $json;\nconst fromRaw = String(body.From ?? body.phone ?? '').trim();\nconst phone = fromRaw.replace(/^whatsapp:/i, '');\nconst message = String(body.Body ?? body.message ?? '').trim();\nconst profileName = String(body.ProfileName ?? body.name ?? '').trim();\nconst messageSid = String(body.MessageSid ?? body.message_sid ?? `WA_${Date.now()}`);\nif (!phone) throw new Error('WhatsApp sender phone is missing');\nif (!message && Number(body.NumMedia ?? 0) === 0) throw new Error('WhatsApp message body is missing');\nreturn { json: {\n  phone,\n  message: message || 'Customer sent a WhatsApp media attachment.',\n  profile_name: profileName,\n  message_sid: messageSid,\n  dry_run: body.dry_run === true || String(body.dry_run ?? '').toLowerCase() === 'true'\n} };"},"id":"576c3e16-ff87-42a8-b7e0-d2cb565ae36e","name":"Normalize WhatsApp Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-420]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8766/analyze","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"phone","value":"={{$json.phone}}"},{"name":"message","value":"={{$json.message}}"},{"name":"profile_name","value":"={{$json.profile_name}}"},{"name":"message_sid","value":"={{$json.message_sid}}"}]},"options":{"timeout":120000}},"id":"972d5464-e45a-4e7e-a03b-1cd95af77e2d","name":"AI Analyse Full Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,-420]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const ai = $json;\nconst inbound = $node['Normalize WhatsApp Message'].json;\nconst lead = ai.lead ?? {};\nconst xmlEscape = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '&quot;').replace(/'/g, '&apos;');\nconst details = [\n  `Issue: ${lead.issue_description || lead.service_requested || 'WhatsApp enquiry'}`,\n  `Location: ${lead.location || lead.postcode || 'Not supplied'}`,\n  `Urgency: ${lead.urgency || 'normal'}`,\n  `Preferred timing: ${[lead.preferred_date, lead.preferred_time, lead.timing_notes].filter(Boolean).join(' ') || 'Not supplied'}`,\n  `Budget/price: ${lead.budget_text || lead.price_value || lead.price_preference || 'Not supplied'}`,\n  `Property: ${lead.property_type || 'Not supplied'}`,\n  `Access notes: ${lead.access_notes || 'None supplied'}`,\n  `AI summary: ${ai.summary || ''}`\n].join('\\n');\nreturn { json: {\n  phone: inbound.phone,\n  message_sid: inbound.message_sid,\n  dry_run: inbound.dry_run,\n  reply: ai.reply,\n  twiml: `<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>${xmlEscape(ai.reply)}</Message></Response>`,\n  should_submit: Boolean(ai.should_submit && !inbound.dry_run && !ai.duplicate),\n  lead_name: lead.name || inbound.profile_name || inbound.phone,\n  business_name: `WhatsApp Lead - ${lead.name || inbound.profile_name || inbound.phone}`,\n  email: lead.email || null,\n  service_requested: lead.service_requested || 'WhatsApp enquiry',\n  urgency: lead.urgency || 'normal',\n  preferred_date: lead.preferred_date || null,\n  preferred_time: lead.preferred_time || null,\n  structured_message: details,\n  source_channel: 'whatsapp',\n  assigned_to: 'ops',\n  alert_destination: $vars.g7TelegramTarget ?? 'CONFIGURE_IN_N8N',\n  ai_summary: ai.summary || 'WhatsApp AI intake',\n  missing_required: ai.missing_required || [],\n  lead_complete: Boolean(ai.lead_complete),\n  confirmed: Boolean(ai.confirmed)\n} };"},"id":"fd890b86-e334-4f7b-b132-70b85ee87777","name":"Build AI Reply + Lead Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1bcbd5f-9c82-49b1-9545-4d592f047a3b","leftValue":"={{ $json.should_submit }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8cf46558-1806-43bd-a3ad-02d6391af792","name":"Lead Confirmed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,-420]},{"parameters":{"method":"POST","url":"http://127.0.0.1:5678/webhook/agency-lead-intake","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"name","value":"={{$json.lead_name}}"},{"name":"business_name","value":"={{$json.business_name}}"},{"name":"email","value":"={{$json.email}}"},{"name":"phone","value":"={{$json.phone}}"},{"name":"service_requested","value":"={{$json.service_requested}}"},{"name":"message","value":"={{$json.structured_message}}"},{"name":"source_channel","value":"whatsapp"},{"name":"urgency","value":"={{$json.urgency}}"},{"name":"assigned_to","value":"={{$json.assigned_to}}"},{"name":"alert_destination","value":"={{$json.alert_destination}}"},{"name":"niche","value":"Home Services"},{"name":"booking_date","value":"={{$json.preferred_date}}"},{"name":"booking_time","value":"={{$json.preferred_time}}"},{"name":"run_id","value":"={{'twilio_' + $json.message_sid}}"},{"name":"twilio_message_sid","value":"={{$json.message_sid}}"}]},"options":{"timeout":20000}},"id":"76cb25ce-64b7-4809-a060-54fe4a860f5f","name":"Create Confirmed G7CRM Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,-520]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8766/mark-submitted","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"phone","value":"={{$node['Build AI Reply + Lead Payload'].json.phone}}"}]},"options":{"timeout":10000}},"id":"1e557c35-93c9-4437-ad94-1de73c5040d2","name":"Mark Conversation Submitted","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-520]},{"parameters":{"respondWith":"text","responseBody":"={{$node['Build AI Reply + Lead Payload'].json.twiml}}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/xml; charset=utf-8"}]}}},"id":"4da92438-08c8-40ad-8494-f6e8eed38694","name":"Reply to WhatsApp","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[760,-420]}],"connections":{"Lead Intake Webhook":{"main":[[{"node":"Normalize + Route Lead","type":"main","index":0}]]},"Normalize + Route Lead":{"main":[[{"node":"Insert Lead Submission","type":"main","index":0}]]},"Insert Lead Submission":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]},"Twilio WhatsApp Webhook":{"main":[[{"node":"Normalize WhatsApp Message","type":"main","index":0}]]},"Normalize WhatsApp Message":{"main":[[{"node":"AI Analyse Full Chat","type":"main","index":0}]]},"AI Analyse Full Chat":{"main":[[{"node":"Build AI Reply + Lead Payload","type":"main","index":0}]]},"Build AI Reply + Lead Payload":{"main":[[{"node":"Lead Confirmed?","type":"main","index":0}]]},"Lead Confirmed?":{"main":[[{"node":"Create Confirmed G7CRM Lead","type":"main","index":0}],[{"node":"Reply to WhatsApp","type":"main","index":0}]]},"Create Confirmed G7CRM Lead":{"main":[[{"node":"Mark Conversation Submitted","type":"main","index":0}]]},"Mark Conversation Submitted":{"main":[[{"node":"Reply to WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"9f935955-86d5-4bbf-beae-8ec02cd224c5","activeVersionId":"9f935955-86d5-4bbf-beae-8ec02cd224c5","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-07-17T11:11:49.032Z","createdAt":"2026-07-17T11:11:49.032Z","role":"workflow:owner","workflowId":"g7crm-master-automation","projectId":"90e6b3c5-f076-4a79-9566-21f726a1648d","project":{"updatedAt":"2026-07-17T11:08:17.152Z","createdAt":"2026-07-17T11:08:17.152Z","id":"90e6b3c5-f076-4a79-9566-21f726a1648d","name":"G7CRM Automations","type":"team","icon":null,"description":"G7CRM lead intake, WhatsApp AI, Supabase and Telegram workflows","creatorId":"5892ea0d-9827-41fc-ae94-6254ac94152e"}}],"versionMetadata":{"name":"G7CRM Master Automation \u2014 All Channels","description":null}}]