automations/n8n/universal-lead-intake-booking-urgent-workflow.json
{
  "name": "Universal Lead Intake + Booking + Urgent Call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agency-lead-intake-routing",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "booking-webhook-node",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 300],
      "webhookId": "agency-lead-intake-routing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? $json;\nconst now = new Date();\nconst leadName = body.name ?? body.lead_name ?? 'Unknown Lead';\nconst businessName = body.business_name ?? body.company ?? body.account_name ?? 'Unknown Business';\nconst leadEmail = body.email ?? body.lead_email ?? null;\nconst leadPhone = body.phone ?? body.lead_phone ?? null;\nconst serviceRequested = body.service ?? body.service_requested ?? 'General enquiry';\nconst message = body.message ?? body.lead_message ?? body.notes ?? '';\nconst sourceChannel = body.source_channel ?? body.lead_source ?? 'website-form';\nconst rawUrgency = String(body.urgency ?? 'normal').toLowerCase();\nconst urgency = ['low','normal','high','emergency'].includes(rawUrgency) ? rawUrgency : 'normal';\nconst assignedTo = body.assigned_to ?? 'ops';\nconst alertDestination = body.alert_destination ?? ($env.TELEGRAM_CHAT_ID || '');\nconst niche = body.niche ?? 'Home Services';\nconst requestedDate = body.booking_date ?? body.requested_date ?? body.date ?? null;\nconst requestedTime = body.booking_time ?? body.requested_time ?? body.time ?? null;\nconst bookingDurationMinutes = Number(body.booking_duration_minutes ?? body.duration_minutes ?? 60);\nconst bookingCalendar = body.booking_calendar ?? body.calendar_name ?? 'Work';\nconst requestType = String(body.inquiry_type ?? body.request_type ?? body.intent ?? '').toLowerCase();\nconst callNow = body.call_now === true || String(body.call_now ?? '').toLowerCase() === 'true';\nconst isBooking = requestType.includes('booking') || (!!requestedDate && !!requestedTime);\nconst isUrgentCall = requestType.includes('urgent') || requestType.includes('call') || callNow || ['urgent', 'emergency'].includes(urgency);\nlet inquiryType = 'standard';\nif (isBooking) inquiryType = 'booking';\nelse if (isUrgentCall) inquiryType = 'urgent-call';\nconst bookingDetailsComplete = !!requestedDate && !!requestedTime;\nconst bookingStatus = inquiryType === 'booking' ? 'requested' : 'not-applicable';\nreturn { json: {\n  received_at: now.toISOString(),\n  processed_at: now.toISOString(),\n  run_id: `run_${Date.now()}`,\n  lead_name: leadName,\n  business_name: businessName,\n  lead_email: leadEmail,\n  lead_phone: leadPhone,\n  service_requested: serviceRequested,\n  message,\n  source_channel: sourceChannel,\n  urgency,\n  assigned_to: assignedTo,\n  alert_destination: alertDestination,\n  niche,\n  inquiry_type: inquiryType,\n  requested_booking_date: requestedDate,\n  requested_booking_time: requestedTime,\n  booking_status: bookingStatus,\n  booking_calendar: bookingCalendar,\n  booking_duration_minutes: Number.isFinite(bookingDurationMinutes) ? bookingDurationMinutes : 60,\n  booking_details_complete: bookingDetailsComplete\n} };"
      },
      "id": "normalize-route-node",
      "name": "Normalize + Route Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/lead_submissions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "business_name", "value": "={{$json.business_name}}" },
            { "name": "lead_name", "value": "={{$json.lead_name}}" },
            { "name": "lead_email", "value": "={{$json.lead_email}}" },
            { "name": "lead_phone", "value": "={{$json.lead_phone}}" },
            { "name": "service_requested", "value": "={{$json.service_requested}}" },
            { "name": "urgency", "value": "={{$json.urgency}}" },
            { "name": "message", "value": "={{$json.message}}" },
            { "name": "source_channel", "value": "={{$json.source_channel}}" },
            { "name": "submission_status", "value": "new" },
            { "name": "inquiry_type", "value": "={{$json.inquiry_type}}" },
            { "name": "requested_booking_date", "value": "={{$json.requested_booking_date}}" },
            { "name": "requested_booking_time", "value": "={{$json.requested_booking_time}}" },
            { "name": "booking_status", "value": "={{$json.booking_status}}" },
            { "name": "n8n_run_id", "value": "={{$json.run_id}}" },
            { "name": "raw_payload", "value": "={{$json}}" }
          ]
        }
      },
      "id": "insert-submission-node",
      "name": "Insert Lead Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?on_conflict=email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{$node['Normalize + Route Lead'].json.lead_name}}" },
            { "name": "company", "value": "={{$node['Normalize + Route Lead'].json.business_name}}" },
            { "name": "email", "value": "={{$node['Normalize + Route Lead'].json.lead_email || ('missing-' + Date.now() + '@placeholder.local')}}" },
            { "name": "phone", "value": "={{$node['Normalize + Route Lead'].json.lead_phone}}" },
            { "name": "record_type", "value": "lead" },
            { "name": "niche", "value": "={{$node['Normalize + Route Lead'].json.niche || 'Home Services'}}" },
            { "name": "source_channel", "value": "={{$node['Normalize + Route Lead'].json.source_channel}}" },
            { "name": "onboarding_status", "value": "not-started" },
            { "name": "preferred_alert_channel", "value": "telegram" },
            { "name": "alert_destination", "value": "={{$node['Normalize + Route Lead'].json.alert_destination}}" },
            { "name": "next_action", "value": "={{$node['Normalize + Route Lead'].json.inquiry_type === 'booking' ? 'Confirm booking request and lock time.' : ($node['Normalize + Route Lead'].json.inquiry_type === 'urgent-call' ? 'Call back immediately.' : 'Review new inbound lead and qualify.')}}" },
            { "name": "last_contacted_at", "value": "={{$node['Normalize + Route Lead'].json.processed_at}}" }
          ]
        }
      },
      "id": "upsert-customer-node",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const lead = $node['Normalize + Route Lead'].json;\nconst customerRes = $node['Upsert Customer'].json;\nconst customerId = customerRes?.[0]?.id || customerRes?.id || null;\nconst submissionRes = $node['Insert Lead Submission'].json;\nconst submissionId = submissionRes?.[0]?.id || submissionRes?.id || null;\nconst bookingDate = lead.requested_booking_date || 'TBD';\nconst bookingTime = lead.requested_booking_time || 'TBD';\nlet title = `Follow up: ${lead.business_name}`;\nlet description = `New inbound lead for ${lead.service_requested}. ${lead.message || ''}`.trim();\nlet priority = lead.urgency === 'emergency' ? 'urgent' : (lead.urgency === 'high' ? 'high' : 'medium');\nlet bookingNeedsConfirmation = false;\nlet summary = `Lead captured for ${lead.business_name}`;\nif (lead.inquiry_type === 'booking') {\n  title = `Booking: ${lead.business_name}`;\n  description = `Booking request for ${lead.service_requested}. Requested date: ${bookingDate}. Requested time: ${bookingTime}. ${lead.message || ''}`.trim();\n  priority = 'high';\n  bookingNeedsConfirmation = !lead.booking_details_complete;\n  summary = bookingNeedsConfirmation ? `Booking request captured for ${lead.business_name} - missing booking details.` : `Booking request captured for ${lead.business_name}`;\n}\nif (lead.inquiry_type === 'urgent-call') {\n  title = `Urgent call: ${lead.business_name}`;\n  description = `Urgent callback needed for ${lead.service_requested}. ${lead.message || ''}`.trim();\n  priority = 'urgent';\n  summary = `Urgent call request captured for ${lead.business_name}`;\n}\nconst dueDate = lead.inquiry_type === 'booking' && lead.requested_booking_date ? lead.requested_booking_date : null;\nconst calendarPayload = lead.inquiry_type === 'booking' ? {\n  summary: `${lead.business_name} booking - ${lead.lead_name}`,\n  calendar: lead.booking_calendar || 'Work',\n  description: `Lead booking from G7CRM / n8n\\nService: ${lead.service_requested}\\nLead: ${lead.lead_name}\\nEmail: ${lead.lead_email || '—'}\\nPhone: ${lead.lead_phone || '—'}\\nMessage: ${lead.message || '—'}\\nRun ID: ${lead.run_id}`,\n  iso_date: lead.requested_booking_date || null,\n  hour: lead.requested_booking_time ? Number(String(lead.requested_booking_time).split(':')[0]) : null,\n  minute: lead.requested_booking_time ? Number(String(lead.requested_booking_time).split(':')[1] || 0) : 0,\n  duration_minutes: lead.booking_duration_minutes || 60,\n  alarm_minutes: 30,\n  booking_needs_confirmation: bookingNeedsConfirmation\n} : null;\nconst telegramMessage = lead.inquiry_type === 'urgent-call'\n  ? `Urgent call request\\n\\nBusiness: ${lead.business_name}\\nLead: ${lead.lead_name}\\nPhone: ${lead.lead_phone || '—'}\\nService: ${lead.service_requested}\\nUrgency: ${lead.urgency}\\nMessage: ${lead.message || '—'}\\nRun ID: ${lead.run_id}`\n  : (lead.inquiry_type === 'booking'\n    ? `Booking request\\n\\nBusiness: ${lead.business_name}\\nLead: ${lead.lead_name}\\nRequested date: ${bookingDate}\\nRequested time: ${bookingTime}\\nService: ${lead.service_requested}\\nNeeds confirmation: ${bookingNeedsConfirmation ? 'yes' : 'no'}\\nRun ID: ${lead.run_id}`\n    : `New inbound lead\\n\\nBusiness: ${lead.business_name}\\nLead: ${lead.lead_name}\\nService: ${lead.service_requested}\\nUrgency: ${lead.urgency}\\nRun ID: ${lead.run_id}`);\nreturn { json: { ...lead, customer_id: customerId, lead_submission_id: submissionId, task_title: title, task_description: description, task_priority: priority, task_due_date: dueDate, booking_needs_confirmation: bookingNeedsConfirmation, calendar_payload: calendarPayload, routing_summary: summary, telegram_message: telegramMessage } };"
      },
      "id": "build-routing-node",
      "name": "Build Routing Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/lead_submissions?id=eq.{{$json.lead_submission_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "={{$json.customer_id}}" },
            { "name": "submission_status", "value": "processed" },
            { "name": "processed_at", "value": "={{$json.processed_at}}" }
          ]
        }
      },
      "id": "mark-submission-node",
      "name": "Mark Submission Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "={{$json.customer_id}}" },
            { "name": "title", "value": "={{$json.task_title}}" },
            { "name": "description", "value": "={{$json.task_description}}" },
            { "name": "status", "value": "pending" },
            { "name": "task_type", "value": "follow-up" },
            { "name": "priority", "value": "={{$json.task_priority}}" },
            { "name": "assigned_to", "value": "={{$json.assigned_to}}" },
            { "name": "due_date", "value": "={{$json.task_due_date}}" }
          ]
        }
      },
      "id": "create-task-node",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1820, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "={{$json.customer_id}}" },
            { "name": "lead_submission_id", "value": "={{$json.lead_submission_id}}" },
            { "name": "workflow_name", "value": "Universal Lead Intake + Booking + Urgent Call" },
            { "name": "workflow_run_id", "value": "={{$json.run_id}}" },
            { "name": "run_status", "value": "success" },
            { "name": "summary", "value": "={{$json.routing_summary}}" },
            { "name": "payload", "value": "={{ { inquiry_type: $json.inquiry_type, service_requested: $json.service_requested, requested_booking_date: $json.requested_booking_date, requested_booking_time: $json.requested_booking_time, booking_needs_confirmation: $json.booking_needs_confirmation, calendar_payload: $json.calendar_payload } }}" }
          ]
        }
      },
      "id": "log-automation-node",
      "name": "Log Automation Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { from: ($env.ALERT_EMAIL_FROM || 'G7CRM Alerts <onboarding@resend.dev>'), to: [$env.ALERT_EMAIL_TO], subject: ($json.inquiry_type === 'urgent-call' ? '[URGENT] ' : ($json.inquiry_type === 'booking' ? '[Booking] ' : '[Lead] ')) + $json.business_name + ' — G7CRM', text: $json.telegram_message } }}"
      },
      "id": "email-alert-node",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2340, 300]
    }
  ],
  "connections": {
    "Lead Intake Webhook": { "main": [[{ "node": "Normalize + Route Lead", "type": "main", "index": 0 }]] },
    "Normalize + Route Lead": { "main": [[{ "node": "Insert Lead Submission", "type": "main", "index": 0 }]] },
    "Insert Lead Submission": { "main": [[{ "node": "Upsert Customer", "type": "main", "index": 0 }]] },
    "Upsert Customer": { "main": [[{ "node": "Build Routing Payload", "type": "main", "index": 0 }]] },
    "Build Routing Payload": { "main": [[{ "node": "Mark Submission Processed", "type": "main", "index": 0 }]] },
    "Mark Submission Processed": { "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]] },
    "Create Follow-up Task": { "main": [[{ "node": "Log Automation Run", "type": "main", "index": 0 }]] },
    "Log Automation Run": { "main": [[{ "node": "Send Email Alert", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "universal-lead-intake-booking-urgent-v2-railway",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "universal-lead-intake-booking-urgent-workflow",
  "active": false
}
