automations/n8n/universal-lead-intake-booking-frame.json
{
  "name": "Universal Lead Intake + Booking Frame (DRAFT)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agency-lead-intake-booking-frame",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "draft-webhook-node",
      "name": "Lead Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 260],
      "webhookId": "agency-lead-intake-booking-frame"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $json.body ?? $json;\nconst now = new Date();\nconst leadName = body.name ?? body.lead_name ?? 'Unknown Lead';\nconst businessName = body.business_name ?? body.company ?? body.account_name ?? 'Unknown Business';\nconst leadEmail = body.email ?? body.lead_email ?? null;\nconst leadPhone = body.phone ?? body.lead_phone ?? null;\nconst serviceRequested = body.service ?? body.service_requested ?? 'General enquiry';\nconst message = body.message ?? body.lead_message ?? body.notes ?? '';\nconst sourceChannel = body.source_channel ?? body.lead_source ?? 'website-form';\nconst urgency = body.urgency ?? 'normal';\nconst assignedTo = body.assigned_to ?? 'ops';\nconst alertDestination = body.alert_destination ?? '@sxwrpv1';\nconst niche = body.niche ?? 'Home Services';\nconst requestedDate = body.booking_date ?? body.requested_date ?? body.date ?? null;\nconst requestedTime = body.booking_time ?? body.requested_time ?? body.time ?? null;\nconst bookingDurationMinutes = Number(body.booking_duration_minutes ?? body.duration_minutes ?? 60);\nconst bookingCalendar = body.booking_calendar ?? body.calendar_name ?? 'Work';\nconst requestType = String(body.inquiry_type ?? body.request_type ?? body.intent ?? '').toLowerCase();\nconst isBooking = requestType.includes('booking') || (!!requestedDate && !!requestedTime);\nconst isUrgentCall = requestType.includes('urgent') || requestType.includes('call') || body.call_now === true || ['urgent', 'emergency'].includes(String(urgency).toLowerCase());\nlet inquiryType = 'standard';\nif (isBooking) inquiryType = 'booking';\nelse if (isUrgentCall) inquiryType = 'urgent-call';\nconst bookingDetailsComplete = !!requestedDate && !!requestedTime;\nreturn { json: {\n  received_at: now.toISOString(),\n  run_id: `run_${Date.now()}`,\n  lead_name: leadName,\n  business_name: businessName,\n  lead_email: leadEmail,\n  lead_phone: leadPhone,\n  service_requested: serviceRequested,\n  message,\n  source_channel: sourceChannel,\n  urgency,\n  assigned_to: assignedTo,\n  alert_destination: alertDestination,\n  niche,\n  inquiry_type: inquiryType,\n  requested_booking_date: requestedDate,\n  requested_booking_time: requestedTime,\n  booking_duration_minutes: bookingDurationMinutes,\n  booking_calendar: bookingCalendar,\n  booking_details_complete: bookingDetailsComplete\n} };"
      },
      "id": "draft-normalize-node",
      "name": "Normalize + Classify Inquiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 260]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const lead = $json;\nconst bookingDate = lead.requested_booking_date || 'TBD';\nconst bookingTime = lead.requested_booking_time || 'TBD';\nconst emailSubject = `We have your booking request — ${lead.business_name}`;\nconst emailBody = `Hi ${lead.lead_name},\\n\\nWe have your booking request for ${lead.business_name}.\\n\\nRequested date: ${bookingDate}\\nRequested time: ${bookingTime}\\nService: ${lead.service_requested}\\n\\nWe will confirm the booking shortly.\\n\\nReference: ${lead.run_id}`;\nconst bookingNeedsConfirmation = !lead.booking_details_complete;\nconst taskPayload = {\n  title: `Booking: ${lead.business_name}`,\n  description: `Booking request for ${lead.service_requested}. Requested date: ${bookingDate}. Requested time: ${bookingTime}. ${lead.message || ''}`.trim(),\n  status: 'pending',\n  task_type: 'follow-up',\n  priority: 'high',\n  assigned_to: lead.assigned_to\n};\nconst calendarPayload = {\n  summary: `${lead.business_name} booking - ${lead.lead_name}`,\n  calendar: lead.booking_calendar || 'Work',\n  description: `Lead booking from G14CRM / n8n\\nService: ${lead.service_requested}\\nLead: ${lead.lead_name}\\nEmail: ${lead.lead_email || '—'}\\nPhone: ${lead.lead_phone || '—'}\\nMessage: ${lead.message || '—'}\\nRun ID: ${lead.run_id}`,\n  iso_date: lead.requested_booking_date || null,\n  hour: lead.requested_booking_time ? Number(String(lead.requested_booking_time).split(':')[0]) : 9,\n  minute: lead.requested_booking_time ? Number(String(lead.requested_booking_time).split(':')[1] || 0) : 0,\n  duration_minutes: lead.booking_duration_minutes || 60,\n  alarm_minutes: 30\n};\nreturn { json: { ...lead, booking_needs_confirmation: bookingNeedsConfirmation, booking_email_subject: emailSubject, booking_email_body: emailBody, booking_task_payload: taskPayload, apple_calendar_payload: calendarPayload, apple_calendar_wrapper_script: '/Users/mirka001/Desktop/CA2 webux/n8n/create-apple-calendar-event.sh' } };"
      },
      "id": "draft-booking-frame-node",
      "name": "Build Booking Frame",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 140]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const lead = $json;\nconst urgentTaskPayload = {\n  title: `Urgent call: ${lead.business_name}`,\n  description: `Urgent callback needed for ${lead.service_requested}. ${lead.message || ''}`.trim(),\n  status: 'pending',\n  task_type: 'follow-up',\n  priority: 'urgent',\n  assigned_to: lead.assigned_to\n};\nconst urgentTelegramMessage = `Urgent call request\\n\\nBusiness: ${lead.business_name}\\nLead: ${lead.lead_name}\\nPhone: ${lead.lead_phone || '—'}\\nService: ${lead.service_requested}\\nMessage: ${lead.message || '—'}\\nRun ID: ${lead.run_id}`;\nreturn { json: { ...lead, urgent_task_payload: urgentTaskPayload, urgent_telegram_message: urgentTelegramMessage } };"
      },
      "id": "draft-urgent-frame-node",
      "name": "Build Urgent Call Frame",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return { json: {\n  inquiry_type: $json.inquiry_type,\n  requested_booking_date: $json.requested_booking_date,\n  requested_booking_time: $json.requested_booking_time,\n  booking_duration_minutes: $json.booking_duration_minutes || null,\n  booking_calendar: $json.booking_calendar || null,\n  booking_details_complete: $json.booking_details_complete ?? null,\n  booking_needs_confirmation: $json.booking_needs_confirmation ?? null,\n  booking_email_subject: $json.booking_email_subject || null,\n  booking_email_body: $json.booking_email_body || null,\n  booking_task_payload: $json.booking_task_payload || null,\n  apple_calendar_payload: $json.apple_calendar_payload || null,\n  apple_calendar_wrapper_script: $json.apple_calendar_wrapper_script || null,\n  urgent_task_payload: $json.urgent_task_payload || null,\n  urgent_telegram_message: $json.urgent_telegram_message || null,\n  note: 'DRAFT FRAME ONLY — not activated, not tested, no side effects wired yet.'\n} };"
      },
      "id": "draft-summary-node",
      "name": "Frame Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 260]
    },
    {
      "parameters": {
        "fromEmail": "={{'hello@placeholder.ie'}}",
        "toEmail": "={{$json.lead_email}}",
        "subject": "={{$json.booking_email_subject}}",
        "text": "={{$json.booking_email_body}}",
        "options": {}
      },
      "id": "draft-email-node",
      "name": "Send Booking Confirmation Email (FRAME)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1260, 80],
      "credentials": {
        "smtp": {
          "id": "replace-with-smtp-credential",
          "name": "Template SMTP"
        }
      }
    }
  ],
  "connections": {
    "Lead Intake Webhook": { "main": [[{ "node": "Normalize + Classify Inquiry", "type": "main", "index": 0 }]] },
    "Normalize + Classify Inquiry": { "main": [[{ "node": "Build Booking Frame", "type": "main", "index": 0 }, { "node": "Build Urgent Call Frame", "type": "main", "index": 0 }]] },
    "Build Booking Frame": { "main": [[{ "node": "Frame Summary", "type": "main", "index": 0 }, { "node": "Send Booking Confirmation Email (FRAME)", "type": "main", "index": 0 }]] },
    "Build Urgent Call Frame": { "main": [[{ "node": "Frame Summary", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "universal-booking-frame-v1",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "universal-lead-intake-booking-frame",
  "active": false
}
